/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* พื้นหลัง */
body {
  min-height: 100vh;
  background-color: #f2f2f2;
  transition: background-color 0.5s;
}

/* footer */
footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* container */
.container {
  position: relative;
}

/* ซ่อน checkbox */
#checkbox {
  display: none;
}

/* ===== Switch ===== */
.label {
  height: 20px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:
    inset 0 0 2px rgba(255, 255, 255, 1),
    inset 0 0 5px rgba(0, 0, 0, 0.3),
    inset 0 0 0 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

/* hover */
.label:hover {
  transform: scale(1.05);
}

/* ลูกกลม */
.label::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 3px;
  background: linear-gradient(130deg, #757272, #ffffff);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

/* เปิดสวิตช์ */
#checkbox:checked + .label::before {
  left: 23px;
  background: linear-gradient(315deg, #000000, #414141);
}

/* ===== เปลี่ยนพื้นหลัง ===== */
body:has(#checkbox:checked) {
  background-color: #121212;
}

